<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/style/globalStyle/style.css" />
    <link rel="normalize" href="./assets/style/normalize/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="headerUpper">
          <div class="headerUpper__contacts">
            <span>
              <img src="./assets/images/placeholder1.svg" />
              г. Тюмень
            </span>
            <span>
              <img src="./assets/images/clock.svg" />
              Пн – Пт: с 9:00 до 18:00
            </span>
            <span>
              <img src="./assets/images/Vector.svg" alt="" />
              info@sportmoda.ru
            </span>
          </div>
          <div class="headerUpper__nav">
            <a href="#" class="navItem">Компания</a>
            <a href="#" class="navItem">Бренды</a>
            <a href="#" class="navItem">Контакты</a>
            <img src="./assets/images/Line5.svg" />
            <a href="#" class="navItem">
              <img src="./assets/images/Vector2.svg" />
              <span>Войти</span>
            </a>
          </div>
        </div>
      </div>
      <div class="headerLower">
        <div class="headerLower__logo">
          <img src="./assets/images/logo.png" alt="logo" />
        </div>
        <div class="headerLower__slogan">Товары для спорта и отдыха</div>
        <div class="headerLower__search">
          <picture>
            <source srcset="./assets/images/Group19.svg" />
            <img src="./assets/images/Group19.svg" />
            <source
              srcset="./assets/images/Group59.svg"
              media="(max-width: 767px)"
            />
          </picture>
        </div>
        <div class="headerLower__phone">
          <img src="./assets/images/Group.svg" />
          <span>8-800-2345-295</span>
          <p>Заказать звонок</p>
        </div>
        <div class="headerLower__buttons">
          <a href="#">
            <img src="./assets/images/watsapp.svg" alt="whatsapp"
          /></a>
          <a href="#"><img src="./assets/images/viber.svg" alt="viber" /></a>
          <a href="#"><img src="./assets/images/vk.svg" alt="vk" /></a>
          <a href="#"><img src="./assets/images/vk.svg" alt="vk" /></a>
        </div>
      </div>
      <nav>
        <a href="#"> <img src="./assets/images/Group54.svg" /></a>
        <a href="#" class="nav__Option"> Мужчинам</a>
        <a href="#" class="nav__Option">Женщинам</a>
        <a href="#" class="nav__Option">Детям</a>
        <a href="#" class="nav__Option">Футбол</a>
        <a href="#" class="nav__Option">Хоккей</a>
        <a href="#" class="nav__Option">Бокс</a>
        <a href="#" class="nav__Option">Борьба</a>
        <a href="#" class="nav__Option">Дзюдо</a>
        <a href="#" class="nav__Option">Настольный теннис</a>
        <a href="#" class="nav__Option">Все виды спорта</a>
        <a href="#" class="nav__Option sale"
          ><img src="./assets/images/Vector1.svg" /> Скидки
        </a>
      </nav>
    </header>
    <main>
      <div class="newProducts">
        <img
          src="./assets/images/Frame8.png"
          alt="New Products"
          class="newProducts__carousel"
        />
        <img
          src="./assets/images/Frame7.png"
          alt="On Sale"
          class="newProducts_onsale1"
        />
        <img
          src="./assets/images/Group412.png"
          alt="On Sale"
          class="newProducts_onsale2"
        />
        <img
          src="./assets/images/Group115.png"
          alt="On Sale"
          class="newProducts_onsale3"
        />
      </div>
      <div class="catalogue">
        <div class="catalogueForxs">
          <p class="catalogueHeadline">Товары по видам спорта</p>
          <a href="#" class="catalogueA"> Все товары</a>
          <img src="./assets/images/Group413.png" />
        </div>
        <img class="border" src="./assets/images/Group410.svg" />
        <div class="catalogueItems">
          <a href="#" class="catalogueItem">
            <img src="./assets/images/volleyball.png" alt="volleyball" />
          </a>
          <div class="items4">
            <a href="#" class="catalogueItem"
              ><img src="./assets/images/football.png" alt="football"
            /></a>
            <a href="#" class="catalogueItem"
              ><img src="./assets/images/running.png" alt="running"
            /></a>
            <a href="#" class="catalogueItem"
              ><img src="./assets/images/hockey.png" alt="hockey"
            /></a>
            <a href="#" class="catalogueItem"
              ><img src="./assets/images/basketball.png" alt="basketball"
            /></a>
          </div>
        </div>
        <a href="#" class="more"><img src="./assets/images/Group34.svg" /></a>
      </div>
    </main>
    <footer>
      <img class="footer1" src="./assets/images/Спор.png" alt="" />
      <img class="footer2" src="./assets/images/Group104.png" alt="" />
    </footer>
  </body>
</html>
